
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.container{
    padding-bottom: 100px;
    padding-top: 20px;
}
.heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.italic{
    color: #5D8233;
    font-family: 'Italianno', cursive;
    font-size: 30px;
}
.bold{
    font-family: 'Fjalla One', sans-serif;
}
.btn-success{
    border-radius: 100px;
    font-size: small;
}
img{
    height:150px;
    width:100%;
    object-fit: cover;
  }
  
  .item{
    padding-left:5px;
    padding-right:5px;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
    padding-top: 40px;

  }
  .item-card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    text-align: center;
  }
  .item-card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:40px;  
  }
  .strike{
      text-align: center;
  }
  .price{
      font-weight: 700;
      text-align: center;
      color: #5D8233;
      border-bottom: 2px solid #5D8233;
      
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  .card-image{
      height: 380px;
  }
.btn:hover{
    color: #5D8233;
}
.btn{
    font-weight: 500;
}
/*      container2    */
.container{
    background-color: #FAF2DA;
}
.title2{
    color: #064420;
    font-weight: 700;
    text-align: center;
}
.slim{
    background-color: #fff;
    text-align: center;
    margin: 0 100px 0 100px;
    font-size: small;
}
.cardimgtop{
    width: 70px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}
.cardimgtop2{
    width: 100px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}
.card-dis{
    margin: 0 20px 0 20px;
    height: 350px;
    background-color: #FAF2DA;
}
.card-title2{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #064420;
}
.card-text2{
    text-align: center;
    font-size: small;
    margin: 0 10px 0 10px;
}
.faq-item .faq-item-ques{
  padding-left: 20px;
}
.faq-item{
  border-bottom: 1px solid #E3E3E3;
}
.showmore:hover{
  color: #064420;
}
.ans{
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.8;
}
.ans p{
  color: #4B5955;
}
.faqs{
  text-align: center;
}
.showMore {
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.showMore + input {
 display:none;
}
.showMore + input + * {
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.5s, overflow 0s;
}
.showMore + input:checked + * { 
  max-height: 7em;
  transition: max-height 0.5s, overflow 0.5s;
}
.disable{
  display: none;
}
.title h4{
    font-size: 20px;
    font-weight: 800;
}
a#home{
    color: black;
}
a#home:hover{
    color: #a8b324;
}
a#faq{
    color:#a8b324
}
.breadcrumb {
  /* background-image: url("assets/breadcrumb_bkg.jpg"); */
  background-position: center center;
  text-align: center;
  margin: 0 0 2.617924em;
  padding: 2.617924em 0;
  text-align: center;
  color: #fff;
}
.breadcrumb .breadcrumb-heading {
  font-size: 50px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.container-fluid{
  padding: 100px 200px 100px 200px;
}
.second{
  margin: 30px 0px 30px 0px;
}
@media  (max-width:575px){
  .mobwfull{
    width: 100% !important;
  }
  .mobblock{
    display:block !important;
  }
  .second{
    display: flex;
  }
  .container-fluid{
    padding: 20px 40px 20px 40px;
  }
}
